<form>
    <h1>Create Issue</h1>
    <p>
        Project name:
        <input type="text" name="project_name" required>
    </p>
    <p>
        Summary:
        <input type="text" name="summary" required>
    </p>
    <p>
        Description:
        <input type="text" name="description" required>
    </p>
    <p>
        Issue type:
        <input type="text" name="">
    </p>
    <p>
        User name:
        <input type="text">
    </p>
    <p>
        Password
        <input type="password">
    </p>
    <p>
        <input type="submit">
    </p>
</form>